@page "/dashboards/markets"
@using Blockcore.AtomicSwaps.Website.Shared.Partials.Widgets.Cards;
@using Blockcore.AtomicSwaps.Website.Shared.Partials.Widgets.Charts;
@using Blockcore.AtomicSwaps.Website.Shared.Partials.Widgets.Engage;
@using Blockcore.AtomicSwaps.Website.Shared.Partials.Widgets.Lists;
@using Blockcore.AtomicSwaps.Website.Shared.Partials.Widgets.Tables;
<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
	<!--begin::Col-->
	<div class="col-xl-12">
		<_Widget14></_Widget14>
	</div>
	<!--end::Col-->
</div>
<!--end::Row-->