@using System.Reflection
@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4 d-flex">
			<div class="w-100 text-warning fw-bold">WARNING ALPHA SOFTWARE</div>
			<div class="flex-shrink-1"><a href="https://github.com/block-core/blockcore-atomic-swaps" target="_blank">Github</a></div>
		</div>
		<article class="content px-4">
			@Body
		</article>
		<footer class="footer bg-light d-flex px-4 border-top">
			<span class="text-info">version - @GlobalData.GetVersion()</span>
		</footer>
	</main>
</div>
