@using Layout.Partials.SidebarLayout.Sidebar;

<!--begin::sidebar-->
<div id="dex_app_sidebar" class="app-sidebar flex-column" data-dex-drawer="true" data-dex-drawer-name="app-sidebar" data-dex-drawer-activate="{default: true, lg: false}" data-dex-drawer-overlay="true" data-dex-drawer-width="225px" data-dex-drawer-direction="start" data-dex-drawer-toggle="#dex_app_sidebar_mobile_toggle">
	<_SidebarLogo></_SidebarLogo>
	<_SidebarMenu></_SidebarMenu>
	<_SidebarFooter></_SidebarFooter>
</div>
<!--end::sidebar-->