@using Blockcore.AtomicSwaps.Website.Shared.Partials.Modals.NewCard

<!--begin::Step 4-->
<div data-dex-stepper-element="content">
	<div class="w-100">
		<_Form></_Form>
	</div>
</div>
<!--end::Step 4-->