@page "/"
@using Blockcore.AtomicSwaps.BlockcoreWallet
@using Blockcore.AtomicSwaps.Client.Services
@inject HttpClient Http
@inject Storage storage;
@inject SwapsConfiguration SwapsConfiguration;
@inject NavigationManager NavigationManager;
@inject ILogger<Index> Logger;
@inject IBlockcoreWalletConnector WalletConnector
@inject IBlockchainApiService BlockchainApiService

<PageTitle>Blockcore Atomic Swaps</PageTitle>

<MudText Align="Align.Center" Typo="Typo.h4">Blockcore Atomic Swaps </MudText>
<MudText Align="Align.Center" Class="mb-8 mt-8"><span class="text-warning">( WARNING ALPHA SOFTWARE )</span></MudText>

@foreach (var prp in _networkList)
{
    <MudPaper Class="pa-4 mb-3">
        <MudStack Row="true">
            @{
                var img = String.Format("https://chains.blockcore.net/assets/{0}/icon.png", prp);
            }
            <MudAvatar Size="Size.Large">
                <MudImage Src="@img" Width="55" Height="55"  Color=" Color.Transparent" Style="background-color:transparent !important"></MudImage>
            </MudAvatar>


            <MudStack Justify="Justify.Center" Spacing="0">
                <MudText Typo="Typo.body1">@prp</MudText>
                @*<MudText Typo="Typo.body2">@prp</MudText>*@
            </MudStack>
        </MudStack>
    </MudPaper>
}


@code {
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;

    List<string> _networkList = new();
    protected override async Task OnInitializedAsync()
    {
        _networkList = SwapsConfiguration.Networks.Keys.ToList();

        await storage.FetchIndexerAndExplorer(false);

    }

}
