@page "/blockcorewallet"
@inject IJSRuntime JSRuntime;

<PageTitle>Blockcore Wallet!</PageTitle>

<h1>Blockcore Wallet!</h1>

@if (!HasBlockcoreWallet)
{
    <p>No Blockcore Wallet detected. Please install <a href="https://chrome.google.com/webstore/detail/blockcore-wallet/peigonhbenoefaeplkpalmafieegnapj" target="_blank">Blockcore Wallet</a>.</p>
}
else{
<textarea class="form-control" rows="5" id="blockcore-extension-input">
{
        "id": "123",
        "identity": "I am who I am."
}</textarea>
<br />
<button class="btn btn-primary" @onclick="SigningMessage">Ask for Signing (Message)</button>
<br />
<div class="form-control mt-3 p-3"  id="blockcore-extension-output"></div>

}
@code {
    async void SigningMessage()
    {
        await JSRuntime.InvokeVoidAsync("signmessage");
    }
}