@page "/provider"
@inject IJSRuntime JSRuntime;

<PageTitle>Index</PageTitle>

<h1>Blockcore Provider!</h1>
<textarea class="form-control" rows="5" id="blockcore-extension-input">
{
        "id": "123",
        "identity": "I am who I am."
}</textarea>
<br />
<button class="btn btn-primary" @onclick="SigningMessage">Ask for Signing (Message)</button>
<button class="btn btn-primary" @onclick="SigningCustomKey">Ask for Signing (Custom Key)</button>
<br />
<div class="form-control mt-3 p-3"  id="blockcore-extension-output"></div>

@code {
    async void SigningMessage()
    {
        await JSRuntime.InvokeVoidAsync("connect3");
    }

    async void SigningCustomKey()
    {
        await JSRuntime.InvokeVoidAsync("connect5");
    }
}