<!--begin::Scrolltop-->
<div id="dex_scrolltop" class="scrolltop" data-dex-scrolltop="true">@((MarkupString)Theme.getSvgIcon("assets/media/icons/duotune/arrows/arr066.svg", "svg-icon"))</div>
<!--end::Scrolltop-->